@import '../bower_components/susy/sass/susy';
@import '../bower_components/breakpoint-sass/stylesheets/breakpoint';
@import 'material-design-palette';
@import 'kw-mixins';

$phone: 0px 768px;
$tablet: 769px 1024px;
$desktop: min-width 1025px;

$fs-base: 10px;
$fs-h1: 2.4rem;
$fs-h2: 2rem;
$fs-h3: 1.8rem;
$fs-h4: 1.6rem;
$fs-sub-text: 1.4rem;

$fw-thin: 100;
$fw-default: 300;
$fw-bold: 500;

$offwhite: #f5f5f5;

html {
  font-size: $fs-base;
  font-weight: $fw-default;
  font-family: 'Helvetica Neue', 'Arial', 'Times New Roman';
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 155px;
  background-color: deepOrange(500);
  border-bottom: 3px solid blueGrey(700);
  box-sizing: border-box;
  padding-top: 30px;

  @extend .round-bottom;
  @include transition(transform 1s cubic-bezier(.68,-0.37,.25,1.36));
  @include transform(translateY(-155px));

  .title-text {
    font-size: $fs-h1;
    font-weight: $fw-bold;
    letter-spacing: 3px;
    line-height: 70px;
    color: white;
  }

  .sub-text {
    font-size: $fs-sub-text;
    line-height: 55px;
    color: white;
  }

  &.active {
    @include transform(translateY(-30px));
  }
}

.content {
  position: fixed;
  top: 125px;
  bottom: 125px;
  left: 0;
  right: 0;
  font-size: $fs-h3;
  padding: 1.5rem;
  box-sizing: border-box;

  @include opacity(0);
  @include transition(all 0.5s ease);

  @include breakpoint($phone) {
    text-align: center;
    padding: 0.5rem;
  };

  &.active {
    @include opacity(1);
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 155px;
  border-top: 3px solid blueGrey(700);
  background-color: deepOrange(700);
  color: white;
  text-align: center;
  box-sizing: border-box;
  line-height: 95px;
  font-size: $fs-h4;
  padding: 1.5rem;

  @extend .round-top;
  @include transition(transform 1s cubic-bezier(.68,-0.37,.25,1.36));
  @include transform(translateY(155px));

  &.active {
    @include transform(translateY(30px));
  }
}

.round-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.round-bottom {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}